# 1. Сначала игнорируем вообще всё
*

# 2. Но не игнорируем сам .gitignore
!.gitignore

# 3. Разрешаем все директории (иначе git не сможет «дойти» до файлов глубже)
!*/

# 4. Разрешаем нужные расширения (глубоко, во всех подпапках)
!**/*.cpp
!**/*.exe
!**/*.bat
!/linux/
!/linux/**

